body {
    font-family: Tahoma, sans-serif; 
    margin: 25px;
    background-color: #54566a; 
    color: #000; 
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.movie-list {
    margin-top: 20px;
}

.movie {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
